{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsNexa</title>
</head>
<body>
    
{% for result in results %}
  <div class="news-card container">
    <div class="news-content">
      <a href="{{ result.link }}" target="_blank" rel="noopener noreferrer" class="news-title">
        {{ result.title }}
      </a>
      <p class="news-description">
        {{ result.description|truncatewords:50 }}
      </p>
    </div>

    {% if result.image_url %}
      <img class="newsImage" src="{{ result.image_url }}" alt="news image">
    {% else %}
      <img class="newsImage" src="{% static 'images/fallbackImage.png' %}" alt="fallback image">
    {% endif %}
  </div>
{% endfor %}

{% if nextPage %}
  <a href="{% url 'nextPage' nextPage %}" class="pagination-button">Next Page</a>
{% endif %}

</body>
</html>